node_modules
.pnpm-store
.nuxt
.output
dist
*.local
.env
.env.*
!.env.example
.dev.vars
.wrangler
.DS_Store
Thumbs.db
coverage
data/**
!data/.gitkeep
apps/web/data/**
packages/db/data/**
*.log
.idea
.vscode/*
!.vscode/extensions.json
